body {
  font-family: "MillerBanner", "Helvetica Neue", "Open Sans", Sans-serif, Arial;
  font-size: 62.5%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1024px){
  body {
    background: linear-gradient(rgb(243, 243, 243), rgb(207, 185, 117));
  }
}